.btn{
	background: $colorAccent;
	color: #fff;
	border-radius: 24px;
  border: 2px solid transparent;
  margin: 20px 0 0;
  padding: 14px 45px 13px;
  font-size: 1em;
  line-height: 1;
  text-decoration: none!important;
  outline: none!important;
	font-family: 'Poppins', Arial, sans-serif;
  vertical-align: middle;
  font-weight: 600;
	text-transform: uppercase;
	z-index: 1;
	position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color .2s, background .2s, opacity .2s, border .2s;
  &[disabled]{
    opacity: .25;
    border-color: $colorGray!important;
    color: inherit!important;
    &:after,&:before{
      content: none!important;
    }
  }
}

.btn-small{
	font-weight: 400;
	padding: 8px 20px 6px;
}


.form-control + .btn{
	margin-top: 40px;
}

.btn:hover,
.btn:active,
.btn:focus{
	color: #000;
	background: darken($colorAccent, 5%);
}

.btn.btn-gray{
	background: $colorPrimary;
}

.btn.btn-gray:hover,
.btn.btn-gray:active,
.btn.btn-gray:focus{
	background: darken($colorPrimary, 5%);
}

.btn.btn-unfilled,
input[type="submit"]{
	background: #fff;
	color: $colorAccent;
	border-color: $colorAccent;
}

.btn.btn-unfilled:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform-origin: 0 50%;
	transform: scaleX(0);
	transition: transform .3s, opacity .3s;
	background: $colorAccent;
	z-index: -1;
}

.btn.btn-unfilled:hover,
.btn.btn-unfilled:active,
.btn.btn-unfilled:focus{
	color: #fff;
}

.btn.btn-unfilled:hover:before,
.btn.btn-unfilled:active:before,
.btn.btn-unfilled:focus:before{
	transform: scaleX(1);
}

.btn.btn-unfilled.btn-gray{
	color: $colorPrimary;
	border-color: $colorPrimary;
}

.btn.btn-unfilled.btn-gray:before{
	background: $colorPrimary;
}

.btn.btn-unfilled.btn-light-gray{
	color: #e6e7e8;
	border-color: #e6e7e8;
}

.btn.btn-unfilled.btn-light-gray:before{
	background: #e6e7e8;
}

.btn.btn-unfilled.btn-gray:hover,
.btn.btn-unfilled.btn-gray:active,
.btn.btn-unfilled.btn-gray:focus{
	color: #fff;
	background: $colorPrimary;
}

.btn.btn-unfilled.btn-light-gray:hover,
.btn.btn-unfilled.btn-light-gray:active,
.btn.btn-unfilled.btn-light-gray:focus{
	color: #fff;
	background: #e6e7e8;
}


/* Form Controls */

.form-control{
	border: none;
	border-bottom: 2px solid #e6e7e8;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	outline: none!important;
	margin: 15px 0;
	font-size: 1.15em;
	height: auto;
	padding: 10px 15px;
  border-radius: 0;
  width: 100%;
  transition: color .2s, border .2s;
  &[aria-invalid="true"]{
    border-color: $colorError!important;
  }
}

.form-control-small{
	padding: 8px 10px;
	font-size: .85em;
}

.form-control:focus,
.form-control:active{
	border-color: $colorPrimary;
}

.form-control::-webkit-input-placeholder {color: $colorGray; transition: color .2s; font-family: 'ModernLightItalic', serif; letter-spacing: -1px;}
.form-control::-moz-placeholder { color: $colorGray; transition: color .2s; font-family: 'ModernLightItalic', serif; letter-spacing: -1px;}
.form-control:-ms-input-placeholder { color: $colorGray; transition: color .2s; font-family: 'ModernLightItalic', serif; letter-spacing: -1px;}
.form-control:-moz-placeholder { color: $colorGray; transition: color .2s; font-family: 'ModernLightItalic', serif; letter-spacing: -1px;}

.form-control:focus::-webkit-input-placeholder {color: $colorAccent;}
.form-control:focus::-moz-placeholder { color: $colorAccent;}
.form-control:focus:-ms-input-placeholder { color: $colorAccent;}
.form-control:focus:-moz-placeholder { color: $colorAccent;}

.error-message{
  color: $colorError;
  font-size: 0.75em;
  margin: 0;
  display: block;
  padding: 0 15px;
}

.success-message{
  color: $colorAccent;
  display: block;
  text-align: center;
  margin: 30px 0;
}