@import "src/styles/theme.variables.scss";

.Post{
	max-width: 600px;
  margin: 0 auto;
  li{
    margin: 0;
  }
}

.Title{
	font-size: 1.5em;
	margin: 15px 0;
}

.Header{
	border-bottom: 1px solid #f3f3f4;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.Content{
	line-height: 1.6;
  color: #939598;
  strong{
    color: $colorPrimary;
  }
}

.Next{
	position: fixed;
	z-index: 9999;
	right: 50%;
	top: 50%;
  margin-top: -18px;
  margin-right: -18px;
  color: #d1d3d4;
  img{
    width: 46px;
  }
  i{
    position: absolute;
    white-space: nowrap;
    bottom: 50%;
    padding-bottom: 35px;
    left: -12px;
    font-weight: 700;
    transform-origin: 50% 100%;
    transform: translateY(-8px) rotate(-90deg);
    transition: color .3s;
  }
  &:hover{
    i{
      color: $colorAccent;
    }
  }
}

@media(max-width: 767px){
  .Post{
    margin-top: 50px;
  }
  .Content{
    font-size: 140%;
  }
  .Next{
    position: absolute;
    top: 40vh;
    margin-top: -22px;
    margin-right: -20px;
    color: #d1d3d4;
    img{
      width: 40px;
    }
    i{
      transform: none;
    }
  }
}