.SpecialSection {
      border-top: 1px solid #0e213c;
    padding-top: 20px;
  .SpecialTitle1 {
    margin-bottom: 1rem;
  }
  // .SpecialContent1 {
  //   .SpecialContent1Item {

  //   }
  // }

  .SpecialTitle2 {
    font-family: Merriweather,serif;
    font-weight: 400;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  // .SpecialContent2 {

  // }
  .ShowMore {
    padding: 50px 0;
    a {
      color: #123b78;
    }
  }
}