@import "src/styles/theme.variables.scss";
$app_gray: rgba(0,0,0,0.1);
.AppBlock {
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: $app_gray;
  margin: 30px 0;
  .ControlLabel {
    display: flex;
    align-items: center;
    span {
      color: red;
    }
  }
  .AddMoreBlock {
    margin-top: 10px;
    span {
      display: inline-block;
      background: #fff;
      padding: 7px 10px 7px 6px;
      margin-bottom: 15px;
      border: 1px solid #5c98cc;
      border-radius: 5px;
      color: #23527c;
      svg {
        color: #45a915;
        margin-right: 5px;
        font-size: 15px;
        background: #fff;
      }
    }
  }
}